<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="wrapper"> 
        <form class="action">
            <h1>USERLOGIN PAGE</h1>
            <div class="inputbox">
                <input type="text" placeholder="Username" required><br><br>
                

            </div>
            <div class="inputbox">
                <input type="password" placeholder="password" required><br><br>

            </div>
            <div class="button-con">
                <button type="submit" class="bttn ">Login</button>
            </div>
            <div class="for">
                <a href="#">forgot password?</a>
            </div>
            

        </form>
    </div>
    
</body>
</html>